@import url('https://fonts.googleapis.com/css?family=Rubik');
/********** buttons and other *********/
html,body{
    overflow-x: hidden;
}
.services-container,.why-us-container,
.we-works-container,.achievements-container,
.partners-container,.contacts-container,
.partners-inner-container{
    padding-top: 30px;
    padding-bottom: 30px;
}
.draw::before, .draw::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.draw {
    transition: color 0.25s;
}
.draw::before, .draw::after {
    border: 1px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}
.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover {
    color: #000;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}
.draw:hover::before {
    border-top-color: #000;
    border-right-color: #000;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
    border-bottom-color: #000;
    border-left-color: #000;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.colored-button{
    outline: 0 !important;
    outline-offset: 0;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    font-size: 0.8125rem;
    color: #000;
    background-color: rgba(254, 220, 61, 1);
    font-weight: bold;
    padding: 15px 35px;
    transition: all .3s ease-in-out,color 0.25s ;
    position: relative;
}
.colored-button:hover,.colored-button:active,.colored-button:focus{
    color: #000;
    text-decoration: none;
    background-color: rgba(254, 220, 61, 0.7);
}
.container-header h3,.main-headers,.form-header{
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: #fedc3d;
    text-shadow: 0px 0px #000,
    1px 0px #000,
    0px 1px #000,
    1px 1px #000;
}
.we-works-container .container-header h3,
.partners-container .container-header h3,
.services-container .container-header h3{
    color: #000;
}
.container-header{
    /*padding-top: 80px;*/
    margin-bottom: 40px;
}
.container-header h3{
    margin-bottom: 42px;
}
.container-header hr{
    width: 75px;
    border-top: 1px solid #000;
}
/******* end other **********/



/******** preloader *********/
.preloader-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: #fedc3d;
    position: fixed;
    z-index: 9999;
    display: flex;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/****** end preloader ********/



/********* navbar **********/
.navbar-dark .navbar-toggler,.navbar-dark .navbar-toggler:focus,.navbar-dark .navbar-toggler:active {
    outline: none;
    border-color: transparent;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-dark{
    background-color: #fedc3d;
}
.navbar-brand img{
    width: 120px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.navbar-dark .navbar-nav .nav-link,.navbar-dark .navbar-nav .nav-link:focus{
    font-weight: 600;
    text-transform: uppercase;
    color: #6e6e6e;
    transition: color .3s ease-in-out;
    font-family: 'Rubik', sans-serif;
}
.navbar-dark .navbar-nav .nav-link:after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #000;
    transform: scaleX(0);
    transition: transform .3s linear;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .active .nav-link{
    color: #000;
}
.navbar-dark .navbar-nav .nav-link:hover:after,
.navbar-dark .navbar-nav .nav-link:active:after,
.navbar-dark .navbar-nav .active .nav-link:after{
    transform: scaleX(.75);
}

/********* end navbar **********/

/********* header *************/
header{
    background: url("../img/Lajtboks-svetovoj-korob-1.jpg") no-repeat center/cover;
    background-attachment: fixed;
}
header .main-headers-wrapper{
    min-height: 700px;
    height: 100vh;
}
.main-headers h1{
    font-size: 4.3rem;
    font-weight: bolder;
}
.main-headers h1{
    margin-bottom: 30px;
}
/********* end header *********/


/********* services **********/
.services-container{
    background-color: #fedc3d;
}
.main-services-elem{
    height: 275px;
    box-sizing: border-box;
    text-transform: uppercase;
}
.main-services-elem img{
    width: auto;
    height: 80px;
    margin-bottom: 45px;
}
.main-services-elem h5{
    font-size: 1.25rem;
}
.main-services-elem{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.main-services-elem:nth-child(1n){
    background-color: #000;
    color: #fedc3d;
}
.main-services-elem:nth-child(2n){
    border-left: 1px solid black;
    background-color: #fedc3d;
    color: #000;
}

.services-elem img{
    margin-bottom: 30px;
}
.services-elem{
    margin-bottom: 20px;
}
.services-elem:nth-child(1n) img{
    border: 2px solid #000;
}
.services-elem:nth-child(2n) img{
    border: 2px solid #000;
}
.services-elem h5{
    margin-bottom: 20px;
}
/********* end services ******/


/********* why us **********/
.why-us-container{
//background-color: #86c232;
    background: url("../img/home-how-we-work.jpg") no-repeat center/cover;
    background-attachment: fixed;
    padding-top: 60px;

}
.why-us-container .container-header hr{
    border-top-color: #fedc3d;
}
.why-us-container>.container .main-services .main-services-elem{
    border-radius: 10px;
}
.why-us-container>.container .main-services{
    margin-bottom: 60px;
}
/******** end why us *********/

/****** we works *******/
.we-works-container{
    background-color: #fedc3d;
}

.we-works-container .container-header hr{
    border-top-color: #000;
}
.we-works-elem{

    margin-bottom: 10px;
}
.circle-works{
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #000;
    border: 2px solid #fedc3d;
    position: relative;
    text-align: center;
}
.we-works-elem:nth-child(2n) .circle-works{
    background-color: #fedc3d;
    border: 2px solid #000;
}
.circle-works span{
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    color: #fedc3d;
    line-height: 75px;
    margin-left: 2px;
}
.we-works-elem:nth-child(2n) .circle-works span{
    color: #000;
}
.we-works-elem-text p{
    font-family: 'Rubik', sans-serif;
    font-size: 1.25rem;
    color: #000;
    font-weight: bold;
    margin-bottom: 0;
}
/****** end we works *****/

/******** achievements *******/
.achievements-container,.partners-container{
    background: url("../img/photo-1512117789060-5de1ecef9eb7.jpg") no-repeat center/cover;
    background-attachment: fixed;
}
.achievements-container hr{
    border-top-color: #fedc3d;
}
.achievements-row,.contacts-row{
    box-sizing: border-box;
    border-top: 1px solid #fedc3d;
    border-bottom: 1px solid #fedc3d;
    padding: 100px 20px;
}
.achievement-wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
}
.achievement{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 75px;
    background-color: #fedc3d;
    border: 2px solid #000;
    position: relative;
    text-align: center;
}
.achievement span{
    font-family: 'Rubik', sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
}
.achievement span,.achievement p{
    color: #000;
}
/******** end achievements *******/

/******** partners *********/
.partners-container{
    padding-bottom: 80px;
}
.partners-inner-container{
    background-color: #fedc3d;
    border-radius: 20px;
}
.partner-elem{
    margin-top: 25px;
    margin-bottom: 25px;
}
.partner-elem img{
    width: auto;
    max-width: 100%;
    height: 50px;
    filter: grayscale(100%);
    transition: filter .3s ease-in;
}
.partner-elem:hover img{
    filter: grayscale(0%);
}
/******** end partners ******/

/******** contacts ********/
.contacts-container{
    background-color: #000;
}
.contacts-container hr{
    border-top-color: #fedc3d;
}
.contacts-info ul{
    list-style: none;
}
.contacts-info a{
    text-decoration: none;
    color: #fedc3d;
}
.contacts-info ul li{
    color: #fedc3d;
    margin-top: 10px;
    margin-bottom: 10px;
}
.contacts-info ul li span{
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}
.contacts-info-header{
    text-transform: uppercase;
    font-weight: bold;
}
.contacts-row>div{
    margin-bottom: 40px;
}
.contacts-form input,.contacts-form textarea,
.contacts-form input:focus,.contacts-form textarea:focus,
.contacts-form input:active,.contacts-form textarea:active{
    border: 1px solid #fedc3d;
    background-color: #000;
    color: #fedc3d;
    resize: none;
    outline: 0 !important;
    outline-offset: 0;
    box-shadow: none;
}
.contacts-form input::placeholder,.contacts-form textarea::placeholder,
.contacts-form input:focus::placeholder,.contacts-form textarea:focus::placeholder,
.contacts-form input:active::placeholder,.contacts-form textarea:active::placeholder{
    color:  #fedc3d;
    opacity: 1; /* Firefox */
}

.contacts-form input:-ms-input-placeholder,.contacts-form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:  #fedc3d;
}

.contacts-form input::-ms-input-placeholder,.contacts-form textarea::-ms-input-placeholder { /* Microsoft Edge */
    color:  #fedc3d;
}

/* message */
#message {
    display: none;
    color: black;
    background: #fedc3d;
    border: none;
}
/******** end contacts ********/
@media (max-width: 928px) {
    html{
        font-size: 17px;
    }
}